#client_head{
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    color: white;
}
#flash_list{
    text-decoration: none!important;
}
.list_decoration_none{
    list-style-type: none !important;
}
.custom_div{
    display: block;
    width: 24%;
    height: 200px;
    border: 1px solid #000000;
    float: left;
    margin: 5px;
}