/ Content Wrapper. Contains page content
.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Edit POC
      %small Update your project
    / Main content
    %section.content
      .row
        / Your Page Content Here
        .col-md-3
        .col-md-6
          / general form elements disabled
          .box.box-warning
            .box-header
              %h3.box-title Edit Project
            / /.box-header
            .box-body
              = render 'pocs/form'