
/ Content Wrapper. Contains page content
= render partial: 'pocs/poc_details'
.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      POCs
      %small Overview of POCs
  %section.content
    .row
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-aqua
            %i.fa.fa-spinner.fa-spin
          .info-box-content
            %span.info-box-text In Progress
            %span.info-box-number
              90
              %small %
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-red
            %i.fa.fa-flag-checkered
          .info-box-content
            %span.info-box-text Finished
            %span.info-box-number 41,410
      .clearfix.visible-sm-block
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-green
            %i.fa.fa-hand-paper-o
          .info-box-content
            %span.info-box-text On Hold
            %span.info-box-number 760
    .row
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-aqua
            %i.ion.ion-ios-gear-outline
          .info-box-content
            %span.info-box-text Future Work
            %span.info-box-number
              90
              %small %
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-red
            %i.fa.fa-google-plus
          .info-box-content
            %span.info-box-text High Priority
            %span.info-box-number 41,410
      .clearfix.visible-sm-block
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-green
            %i.ion.ion-ios-cart-outline
          .info-box-content
            %span.info-box-text Low Priority
            %span.info-box-number 760

    .row
      .col-md-12
        %h3.timeline-header
          Available Projects
        .timeline-body
          %div.custom_div#poc_div_1
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
          %div.custom_div
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
          %div.custom_div
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
          %div.custom_div
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
          %div.custom_div
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
          %div.custom_div
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
          %div.custom_div
            %h3.custom_margin
              First Demo
              %small In Progress
            %span.custom_margin.info-box-text Technologies Used
            %p.tags.custom_margin
              %a
                Ruby
              %a
                Rai
              %a
                Post
              %a
                AWS
            %span.custom_margin.info-box-text Tags
            %p.tags.custom_margin
              %a#label_tags
                Chatapp
              %a#label_tags
                Chatroom
              %a#label_tags
                API
              %a#label_tags
                AdminUI
  %section.content-header.clearfix
    .column
      = link_to "Call Show", "javascript:;", remote: true, id: "poc_div_2"
      %button.md-trigger{"data-modal" => "modal-1"} Fade in & Scale


:javascript
  $('#poc_div_2').click(function(){
    $.ajax({
    url: '/pocs/1',
    method: 'GET'
    })
  })