/ Main Footer
%footer.main-footer
  / To the right
  .pull-right.hidden-xs
    Knowledge-source-limited
  / Default to the left
  %strong
    Copyright © 2015
    = succeed "." do
      %a{:href => "#"} Knowledge-source Private Limited © 2015
  All rights reserved.
